body{
  background-color: #EEE;
  width: 100%;
  margin: 0;
  font-family: inherit;
}
a{
  text-decoration: underline;
}


#header{
  background-color: blue;
  color: white;
  text-align: center;
}

#container{
  background-color: pink;
  margin: auto;
  padding-top: 100px;



}
#content{
  text-align: center;
  background-color: white;
  color: black;
  margin: 0 10% 0 10%;
  padding: 10px 10px;


}
#nav{
  background-color: red;
  width: 100%;
  text-align: center;
  position: fixed;


}
#main{
  margin: auto;
  font-size: 30px;
  text-align: center;
  padding: 10px;


}
#main h1{
  padding-top: 10px 10px;
}
}
#footer{
  background-color: #999;
  color: white;
  text-align: center;
  padding-right:10px;
}
#nav .selected {
  font-weight: bold;
}
#nav ul{
  list-style: none;
  list-style-position: inside;
  padding: 0px;
  margin:0;
  width:100%;
  font-size: 0;
  letter-spacing: -1px;

}
#nav li{
  display: inline-block;
  background-color: violet;
  margin:0;
  width: 20%;
  font-size: 20px;
  letter-spacing: normal;
}
#nav li:hover{
  background-color: blue;
}
#nav a{
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: white;
}
